@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  color: black;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* background */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  padding-top: 30px;
}

/* input */
.input_frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 30px;
  margin: 5px 0;
}
.grid,
.bombcount {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: black;
  text-align: center;
  margin-right: 10px;
}
.apply {
  width: 60px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background-color: turquoise;
  color: white;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* frame */
.frame {
  background-color: yellowgreen;
}

/* button */
.button {
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  background-color: ghostwhite;
  border: 1px solid lightgray;
  box-sizing: border-box;
  cursor: pointer;
}
.opened {
  color: white;
  line-height: 200%;
  text-align: center;
  background-color: lightseagreen;
}

/* flag */
.flag {
  width: 100%;
  height: 100%;
}

.hitmarker,
.explosion {
  width: 100%;
}
